<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWMSDataImport" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IWMSDataImport">
                    <security mode="None" />
                </binding>
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="http://amacedo:9999/WMSDataImport" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWMSDataImport" contract="WMSDataImportWS.IWMSDataImport"
                name="BasicHttpBinding_IWMSDataImport" />
            <endpoint address="net.pipe://localhost/WMSDataImport" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IWMSDataImport"
                contract="WMSDataImportWS.IWMSDataImport" name="NetNamedPipeBinding_IWMSDataImport" />
        </client>
    </system.serviceModel>
</configuration>